<mat-card>
  <mat-card-header>
    <mat-card-title>Lista pracowników</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list
      multiple="false"
      [(ngModel)]="selectedWorker"
      (selectionChange)="SelectWorker()"
    >
      <mat-list-option
        *ngFor="let worker of workers; index as index"
        [value]="worker"
        [style]="'height:100px'"
      >
        <mat-grid-list cols="12" [rowHeight]="'2em'" [gutterSize]="'1px'">
          <mat-grid-tile [colspan]="2" [rowspan]="2">
            {{ worker.firstName[0] + worker.lastName[0] | uppercase }}
          </mat-grid-tile>
          <mat-grid-tile [colspan]="5" [rowspan]="1">
            <p>
              {{ worker.firstName | uppercase }}
              {{ worker.lastName | uppercase }}
            </p>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="5" [rowspan]="1">
            <p>Zadania zakończone:</p>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="5" [rowspan]="1">
            <p>{{ worker.position }}</p>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="5" [rowspan]="1">
            <p>
              [ {{ worker.finishedTasks.length }} / {{ worker.tasks.length }} ]
            </p>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-fab color="primary" (click)="openDialog()">
      <mat-icon class="mat-18" fontIcon="add">Add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
